BasedOnStyle: LLVM
Language: Cpp
UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 0
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
SortIncludes: Never
ReflowComments: Never
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
  InCStyleCasts: false
  InEmptyParentheses: false
  Other: true
SpacesInSquareBrackets: false
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
PointerAlignment: Right
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
MaxEmptyLinesToKeep: 2
Cpp11BracedListStyle: false
AlignOperands: Align
SkipMacroDefinitionBody: true
AlignTrailingComments:
  Kind: Never
WhitespaceSensitiveMacros:
  - NETF
  - PSF
  - Hunk_Alloc
  - STRING
  - Z_TagMalloc
  - Z_Malloc
  - S_Malloc
  - GetMemory
  - GetClearedMemory
  - GetHunkMemory
  - GetClearedHunkMemory
  - CASE_STR
  - VK_CHECK
  - INIT_INSTANCE_FUNCTION
  - INIT_INSTANCE_FUNCTION_EXT
  - INIT_DEVICE_FUNCTION
  - INIT_DEVICE_FUNCTION_EXT
  - SHOW
  - assert
  - Q_ASSERT
