Checks: '-*,bugprone-signed-char-misuse,bugprone-narrowing-conversions,bugprone-suspicious-string-compare,portability-simd-intrinsics,performance-*,readability-duplicate-include,readability-misleading-indentation,modernize-redundant-void-arg'
WarningsAsErrors: 'readability-duplicate-include,readability-misleading-indentation'
HeaderFilterRegex: '(^|/)(engine|game)/'
